@font-face {
    font-family: CustomMediaWebsiteFonts;
    src: url("poppins-v5-latin-800.ttf");
}
@font-face {
    font-family: CustomMediaWebsiteFonts2;
    src: url("Poppins-Regular.otf");
}
@font-face {
    font-family: CustomMediaWebsiteFonts3;
    src: url("Poppins-Light (2).otf");
}