@media screen and (max-width:98.75rem) {
    .nav_box .navBox_wrap nav ul {
        right: 0
    }
    .FrequentlyAskedBox .FrequentlyAsked_Wrap .FrequentlyAsked_title div h2{font-size: 3.0625rem;}
    .nav_box .navBox_wrap nav a{font-size: 1.2625rem !important;}
    .nav_box .navBox_wrap nav .form-inline button{font-size: 1rem;}
}

@media screen and (max-width:80rem) {
    img {
        max-width: 100%
    }

    #headerBox .headerBox_wrap .header_top h2 {
        font-size: 2.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .contentBox .contentBox_wrap .pictureBox div.picture2 {
        right: -4.0625rem
    }

    .logo_titleBox .logo_titleBox_wrap .center_box h1 {
        font-size: 4.375rem
    }

    .logo_titleBox .logo_titleBox_wrap .right_box {
        display: none
    }

    .nav_box .navBox_wrap nav ul {
        right: 0
    }

    .nav_box .navBox_wrap nav ul li {
        margin: 0 1.25rem
    }

    .nav_box .navBox_wrap nav a {
        font-size: 1.1875rem
    }

    .nav_box .navBox_wrap nav form button {
        font-size: 0.75rem
    }

    .logo_titleBox .logo_titleBox_wrap .left_box .picture3 {
        top: 6.25rem
    }

    .button_JOIN_NOW .button_wrap .picture6 {
        right: -0.9375rem
    }

    .button_JOIN_NOW .button_wrap .picture5 {
        top: 0.625rem;
        left: 11.875rem
    }

    .button_JOIN_NOW .button_wrap .picture7 {
        display: none !important
    }

    .contentBox_Wrap_productType .Facebook_box {
        position: relative;
        right: 0;
        top: 0
    }

    .contentBox_Wrap_productType .Google_box {
        position: relative;
        bottom: 0
    }

    .contentBox_Wrap_productType .MicrosoftBing_box {
        position: relative;
        left: 0;
        top: 0
    }

    .contentBox_Wrap_productType .Google_box {
        margin: 0 0.1875rem
    }

    .contentBox_Wrap_productType .Facebook_box .Facebook_img {
        width: 13.125rem;
        padding: 1.75rem 0
    }
    .contentBox_Wrap_productType .box_productTypeContentBox .box_introduce {
        width: 13.125rem;
        
    }

    .contentBox_Wrap_productType .Google_box .Google_img {
        width: 13.125rem;
        padding: 1.625rem 0
    }

    .contentBox_Wrap_productType .MicrosoftBing_box .MicrosoftBing_img {
        width: 13.125rem;
        padding: 2.1875rem 0
    }

    .productType_box .productType_boxWrap .productType_content .productType_contentWrap .contentBox_productType {
        width: 100%
    }

    .productType_box .productType_boxWrap .productType_content .productType_contentWrap .productType_content_titleBox {
        padding: 1.25rem 0
    }

    .productType_box .productType_boxWrap .productType_content .productType_contentWrap .contentBox_productType .contentBox_Wrap_productType {
        padding: 0.1875rem
    }

    .companyIntroductionBox .companyIntroductionBox_wrap .companyIntroductionBox_cover {
        min-width: 95%
    }

    .button_productType {
        margin: 0
    }

    .button_productType .button_productType_wrap button {
        width: 12.1875rem;
        height: 2.8125rem;
        font-size: 1.25rem
    }

    .companyIntroductionBox {
        top: 0.9375rem
    }

    .companyIntroductionBox .companyIntroductionBox_wrap {
        padding: 0 !important;
        margin: 0 !important
    }

    .companyIntroductionBox_cover_wrap .companyIntroductionBox_cove_content h3 {
        font-size: 1.125rem
    }

    .companyIntroductionBox .companyIntroductionBox_wrap .companyIntroductionBox_cover .companyIntroductionBox_cover_wrap {
        padding: 0.625rem 0.9375rem
    }

    .companyIntroductionBox_cover_wrap .companyIntroductionBox_cove_content p {
        font-size: 0.75rem
    }

    .companyIntroductionBox_cover_wrap .companyIntroductionBox_cove_content p.p_days {
        margin: 0.625rem 0 !important
    }

    .companyIntroductionBox_cover_wrap .companyIntroductionBox_cove_content button {
        padding: 0.625rem 1.5625rem;
        font-size: 0.9375rem;
        margin-top: 0.3125rem
    }

    .companyIntroductionBox .companyIntroductionBox_wrap .horseRaceLamp_Marquee .marquee .track {
        font-size: 2.1875rem
    }

    .companyIntroductionBox_cover_wrap .companyIntroductionBox_cove_picture img {
        width: auto
    }

    .OurStrengthsBox .OurStrengthsBox_Wrap .OurStrengths_background .OurStrengths_title h3 {
        font-size: 2.5rem
    }

    .OurStrengths .content_box .content_wrap h4 {
        font-size: 0.75rem;
        width: 7.125rem;
        transform: rotate(0deg);
        top: -0.625rem;
        left: 0;
    }

    .OurStrengths .content_box .content_wrap {
        padding: 1.25rem 0
    }

    .OurStrengths_background .OurStrengths_locationBox {
        width: 95%
    }

    .OurStrengths_background .OurStrengths_locationBox .OurStrengths ul>li div {
        width: 13.75rem
    }

    .OurStrengths .content_box .content_wrap img {
        width: 6.125rem
    }

    .OurStrengths .content_box .content_wrap p {
        margin-top: 0.625rem !important;
        font-size: 0.625rem
    }

    .owl-carouselBox2 {
        display: none !important
    }

    .nav_box .navBox_wrap nav .form-inline button{padding-left: 1rem;padding-right: 1rem;}
    .navbar-expand-lg .navbar-nav .nav-link{padding: 0}
}

@media screen and (max-width:30rem) {
    #headerBox .headerBox_wrap .header_top h2 {
        font-size: 1.125rem;
    }

    .nav_box {
        padding: 0;
    }

    .nav_box .navBox_wrap {
        width: 100%;
        padding: 0.625rem 0.3125rem;
        border-radius: 0;
    }

    .BlueGlowMedia_logo img {
        width: 14.0625rem
    }

    .nav_box .navBox_wrap nav a {
        font-size: 1.125rem
    }

    .nav_box .navBox_wrap nav form button {
        font-size: 0.9375rem
    }

    .contentBox {
        padding: 0
    }

    .contentBox .contentBox_wrap .pictureBox .picture img {
        width: 7.5rem
    }

    .contentBox .contentBox_wrap .pictureBox div.picture2 {
        right: 0;
        z-index: -2
    }

    .logo_titleBox .logo_titleBox_wrap .center_box h1 {
        font-size: 2.375rem;
        z-index: 3
    }

    .button_JOIN_NOW {
        margin-top: 0.625rem
    }

    .button_JOIN_NOW .button_wrap {
        width: 100%
    }

    .button_JOIN_NOW .button_wrap button {
        font-size: 1.25rem;
        height: 3.75rem;
        width: 15.3125rem
    }

    .logo_titleBox .logo_titleBox_wrap .left_box .picture3 {
        top: 2.8125rem
    }

    .logo_titleBox .logo_titleBox_wrap .left_box .picture3 img {
        width: 16rem
    }

    .button_JOIN_NOW .button_wrap .buttonWrap_wide {
        width: 100%
    }

    .button_JOIN_NOW .button_wrap .pictureBox img {
        width: 8.4375rem
    }

    .button_JOIN_NOW .button_wrap .picture6 {
        right: 1.25rem
    }

    .button_JOIN_NOW .button_wrap .picture5 {
        top: -0.9375rem;
        left: 15.3125rem
    }

    .productType_box .productType_boxWrap .productType_content .productType_contentWrap .productType_content_titleBox h3 {
        font-size: 1.25rem
    }

    .productType_box .productType_boxWrap .productType_content .productType_contentWrap .productType_content_titleBox h2 {
        font-size: 2.1875rem
    }

    .productType_box .productType_boxWrap .productType_content {
        max-width: 100%
    }

    .contentBox_Wrap_productType .box_productTypeContentBox img {
        width: 5.9375rem
    }

    .contentBox_Wrap_productType .Google_box {
        margin: 0 0.1875rem
    }

    .contentBox_Wrap_productType .Facebook_box .Facebook_img {
        width: 7.1875rem;
        padding: 0.9375rem 0
    }

    .contentBox_Wrap_productType .Google_box .Google_img {
        width: 7.1875rem;
        padding: 0.9375rem 0
    }

    .contentBox_Wrap_productType .MicrosoftBing_box .MicrosoftBing_img {
        width: 7.1875rem;
        padding: 0.9375rem 0
    }

    .contentBox_Wrap_productType .box_productTypeContentBox p {
        text-align: center !important
    }

    .contentBox_Wrap_productType .Facebook_box .Facebook_introduce .p_1 {
        font-size: 0.8125rem
    }

    .contentBox_Wrap_productType .Facebook_box .Facebook_introduce .p_2 span {
        font-size: 0.625rem;
        padding: 0.3125rem 0.3125rem
    }

    .contentBox_Wrap_productType .Google_box .Google_introduce .p_1 {
        font-size: 0.8125rem
    }

    .contentBox_Wrap_productType .Google_box .Google_introduce .p_2 span {
        font-size: 0.625rem;
        padding: 0.3125rem 0.3125rem
    }

    .contentBox_Wrap_productType .MicrosoftBing_box .MicrosoftBing_introduce .p_1 {
        font-size: 0.8125rem
    }

    .contentBox_Wrap_productType .MicrosoftBing_box .MicrosoftBing_introduce .p_2 span {
        font-size: 0.625rem;
        padding: 0.3125rem 0.3125rem
    }

    .contentBox_Wrap_productType .box_productTypeContentBox .box_introduce {
        width: 7.1875rem;
        padding: 0.3125rem 0 !important
        
    }

    .OurStrengthsBox .OurStrengthsBox_Wrap .OurStrengths_background .OurStrengths_title h3 {
        font-size: 2.5rem
    }

    .OurStrengths .content_box .content_wrap h4 {
        font-size: 0.75rem;
        width: 7.525rem;
        transform: rotate(0deg);
        left: -3px
    }

    .OurStrengths .content_box .content_wrap {
        padding: 1.25rem 0
    }

    .OurStrengths_background .OurStrengths_locationBox {
        width: 95%
    }

    .OurStrengths_background .OurStrengths_locationBox .OurStrengths ul>li div {
        width: 7.25rem
    }

    .OurStrengths .content_box .content_wrap img {
        width: 4.6875rem
    }

    .OurStrengths .content_box .content_wrap p {
        margin-top: 0.625rem !important;
        font-size: 0.625rem
    }

    .OurStrengths_background .OurStrengths_locationBox .OurStrengths ul {
        margin: 1.25rem 0 0 0
    }

    .OurStrengths_button {
        padding: 0.625rem 0;
        margin: 0.625rem 0
    }

    .OurStrengths_button button {
        width: 12.1875rem;
        height: 2.8125rem;
        font-size: 1.25rem
    }

    .owl-carouselBox {
        display: none !important
    }

    .owl-carouselBox2 {
        display: block !important
    }

    .UserReviewsBox .UserReviews_Wrap .UserReviews_Title .Title_wrap {
        padding: 0.9375rem 0;
        margin: 0.9375rem 0
    }

    .UserReviewsBox .UserReviews_Wrap .UserReviews_Title h2 {
        font-size: 2.375rem
    }

    .UserReviewsBox .UserReviews_Wrap .UserReviews_Title h4 {
        font-size: 0.9375rem
    }

    .UserReviewsBox .UserReviews_Wrap .UserReviews .UserReviews_row .owl-carousel .item .row .writtenWords {
        margin-bottom: 1.25rem;
        font-size: 0.8125rem
    }

    .UserReviewsBox .UserReviews_Wrap .UserReviews .UserReviews_row .owl-carousel .item .row {
        min-height: 14.9375rem;
    }

    .UserReviewsBox .UserReviews_Wrap .UserReviews .UserReviews_row .owl-carousel .item .row .user_name h4 {
        font-size: 1.25rem
    }

    .UserReviewsBox .UserReviews_Wrap .UserReviews .UserReviews_row .owl-carousel .item .row .user_name p {
        font-size: 0.9375rem
    }

    .FrequentlyAskedBox .FrequentlyAsked_Wrap .FrequentlyAsked_title div {
        padding: 0.625rem 0;
        margin: 0.625rem 0
    }

    .FrequentlyAskedBox .FrequentlyAsked_Wrap .FrequentlyAsked_title div h2 {
        font-size: 1.4375rem
    }

    .FrequentlyAskedBox .FrequentlyAsked_Wrap .FrequentlyAsked .divisionLine {
        padding: 0;
        font-size: 0.625rem;
        border-top: 0
    }

    .FrequentlyAskedBox .FrequentlyAsked_Wrap .FrequentlyAsked .divisionLine h4 {
        font-size: 0.875rem;
        border-top: 0.0625rem #8c8d95 solid
    }

    .FrequentlyAskedBox .FrequentlyAsked_Wrap .FrequentlyAsked .box {
        padding: 0.3125rem
    }

    .footerBox .footerBox_Wrap .footer .divisionLine_footer .privacyPolicy {
        font-size: 0.75rem
    }

    .footerBox .footerBox_Wrap .footer .divisionLine_footer .divisionLine_footer_Wrap {
        justify-content: center
    }
    .nav_box .navBox_wrap nav .form-inline button{font-size: 1.15rem;}
    .productType_box .productType_boxWrap .productType_content .productType_contentWrap .productType_content_titleBox h2{font-size: 1.6rem;}
}

@media screen and (max-width:20.5rem) {
    #headerBox .headerBox_wrap .header_top h2 {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .BlueGlowMedia_logo img {
        width: 12.8125rem
    }

    .logo_titleBox .logo_titleBox_wrap .center_box h1 {
        font-size: 2rem
    }

    .button_JOIN_NOW .button_wrap .picture5 {
        display: none !important
    }

    .button_JOIN_NOW .button_wrap .picture6 {
        display: none !important
    }

    .contentBox_Wrap_productType .Facebook_box .Facebook_img {
        width: 6.25rem;
        padding: 0.9375rem 0
    }
    .contentBox_Wrap_productType .box_productTypeContentBox .box_introduce {
        width: 6.25rem;
        
    }

    .contentBox_Wrap_productType .Google_box .Google_img {
        width: 6.25rem;
        padding: 0.9375rem 0
    }

    .contentBox_Wrap_productType .MicrosoftBing_box .MicrosoftBing_img {
        width: 6.25rem;
        padding: 0.9375rem 0
    }

    .companyIntroductionBox_cover_wrap .companyIntroductionBox_cove_content h3 {
        font-size: 1rem
    }

    .companyIntroductionBox .companyIntroductionBox_wrap .companyIntroductionBox_cover .companyIntroductionBox_cover_wrap {
        padding: 0.625rem 0.3125rem
    }

    .OurStrengths_background .OurStrengths_locationBox .OurStrengths ul>li div {
        width: 6.25rem
    }

    .OurStrengths .content_box .content_wrap h4 {
        font-size: 0.75rem;
        width: 6.525rem;
        transform: rotate(0deg);
    }
    .UserReviewsBox .UserReviews_Wrap .UserReviews .UserReviews_row .owl-carousel .item .row{min-height: 16.1375rem;}
    .productType_box .productType_boxWrap .productType_content .productType_contentWrap .productType_content_titleBox h2{font-size: 1.5rem;}
    .OurStrengthsBox .OurStrengthsBox_Wrap .OurStrengths_background .OurStrengths_title h3{font-size: 2rem;}
    .FrequentlyAskedBox .FrequentlyAsked_Wrap .FrequentlyAsked_title div h2{font-size: 1.2375rem;}
}